
body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: rgb(0, 194, 152);
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: rgb(0, 194, 152);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;

}

h3{
    color: rgb(0, 165, 129);
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: hsl(162, 89%, 93%);
    position: relative;
    padding-top: 100px;
}

.bottom-container{
    padding-top: 25px;
    background-color: hsl(162, 89%, 93%);
}

.footer-link{
    
    margin:20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(0, 194, 152) ;
    text-decoration: none;

}

.footer-link:hover{
    color: rgb(14, 117, 0);
}

.copyright{
    font-size: 0.8em;
    color: rgb(0, 114, 114);
}

.skill-row{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    padding: 50px;
}

.chillies{
    width: 35%;
    float: left;
    margin-right: 30px;
}


.computer{
    width: 35%;
    float: right;
    margin-left: 30px;
}

.intro{
    margin: 20px;
}

.tea{
    text-decoration: underline;
}

.bottom-cloud{
    position: relative;
    left: -200px;
    top: 350px;
}
.contact-me{
    width: 60%;
    margin: 10px auto;
}

.top-cloud{
    position: absolute;
    right: 25%;
    top: 8%; 
}

.mountain-img{
width: 65%;
}


.profile{
    width: 50%;
    margin: 20px auto 0;
}

.profiledp{
    width: 80%;
}
hr{
    border-style: dotted;
    border-width: 5px 0 0 0;
    width: 5%;
    color: grey;
    margin: 20px auto;
    
}

.contact-me{
    line-height: 2;
}
.btn {
    background: #36c7cf;
    background-image: -webkit-linear-gradient(top, #36c7cf, #00968f);
    background-image: -moz-linear-gradient(top, #36c7cf, #00968f);
    background-image: -ms-linear-gradient(top, #36c7cf, #00968f);
    background-image: -o-linear-gradient(top, #36c7cf, #00968f);
    background-image: linear-gradient(to bottom, #36c7cf, #00968f);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2bc4b7;
    background-image: -webkit-linear-gradient(top, #2bc4b7, #0ecca3);
    background-image: -moz-linear-gradient(top, #2bc4b7, #0ecca3);
    background-image: -ms-linear-gradient(top, #2bc4b7, #0ecca3);
    background-image: -o-linear-gradient(top, #2bc4b7, #0ecca3);
    background-image: linear-gradient(to bottom, #2bc4b7, #0ecca3);
    text-decoration: none;
  }
